.badge{
    font-size: 80%;
}

.pdf-page {
    position:  relative;
    margin:  0  auto;
    padding:  .4in  .3in;
    color:  #333;
    background-color:  #fff;
    box-shadow:  0  5px  10px  0  rgba(0,0,0,.3);
    box-sizing:  border-box;
    font-family:  "DejaVu Sans", "Arial", sans-serif;
  }

  .size-a4 {
    width: 6.2in;
  
    height: 8.7in;
  }

  .table-pdf{
    width: 50%;
    font-size: x-small;
  }

  .kop{
    font-size: 75%;
  }
  .kop-image{
    width: 50%;
    height: 100%;
  }
  .bumn{
    width: 80%;
    margin-top: 25%;
  }

  .line{
    height:2px;
    border-top:1px solid black;
    border-bottom:2px solid black;
  }

  .text{
    font-family: 'Times New Roman';
    // font-size: 90%;
  }

  .ttd{
    font-size: medium;
  }
  
  /*
  The example loads the DejaVu Sans from the Kendo UI CDN.
  
  Other fonts have to be hosted from your application.
  
  The official site of the Deja Vu Fonts project is
  
  https://dejavu-fonts.github.io/.
  */
  
  @font-face {
    font-family:  "DejaVu Sans";
    src:  url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans.ttf") format("truetype");
  }
  
  @font-face {
    font-family:  "DejaVu Sans";
    font-weight:  bold;
    src:  url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family:  "DejaVu Sans";
    font-style:  italic;
    src:  url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
  }
  
  @font-face {
    font-family:  "DejaVu Sans";
    font-weight:  bold;
    font-style:  italic;
    src:  url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
  }