.tabel-nilai{
    text-align: center;
    vertical-align: middle;
}

.table-jadwal>thead{
    background-color: #4D77FF;

}
.table-title th{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #bebebe;
}
.table{
    border: 1px solid #E5E5E5;
}

input[type="month"]{
    align-items: center;
}